.button {
    width: auto;
    height: 25px;
    font-size: 20px;
    /*border: 1px solid darkslategrey;*/
    transition: all 0.3s ease;
    box-shadow: 1px 1px 2px gray;
}
button:hover{
    background-color: lightgray;
}
button:disabled{
    opacity: 0.5;
    background-color: lightgray;
    color: darkslategrey;
}
