.counterContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    height: 85px;
    box-shadow: 1px 1px 2px darkslategrey;
}

.display {
    height: 46px;
    padding: 10px;
}
.buttonContainer {
    padding: 10px 0 0 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.normal {
    font-size: 20px;
}
.red {
    color: red;
    font-weight: bold;
}