.counterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 10px;
    height: 226px;
    box-shadow: 1px 1px 10px darkslategrey;
}

.display {
    height: 100%;
    margin: 22px 22px 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 5px;
}
.buttonContainer {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.normal {
    font-size: 20px;
}
.red {
    color: red;
    font-weight: bold;
}