.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputContainer h3 {
    margin: 0;
}
.input {
    text-align: center;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
}
.errorInput {
    border: 1px solid darkred;
    background-color: lightcoral;
}