.settingsContainer {
    width: 320px;
    height: 145px;
    border: 1px solid black;
    border-radius: 6px;
}
.buttonContainer {
    border: 1px solid black;
    margin: 0 10px 0 10px;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}